body{
    padding:0;
    margin:0;
    background:linear-gradient(rgba 0, 0, 50, 0.5), (rgba 0, 0, 50, 0.5), url(photo00.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    text-align: center;
}
.contact-form{
    width: 100%;
    background: #f1f1f1;
    top: 81px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #000000;
}
.contact-form h1{
    font-weight: 200;
    margin-top: 0;
}
.txtb{
    margin:8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid gray;
}
.txtb label{
    display: block;
    text-align: left;
    columns: #333333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: block;
    background: #9b599b;
    padding: 14px 0;
    color: honeydew;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%
}

#navigation-bar{
    display:flex;
    background-color:gray;
    font-size-adjust: 10px;
    color:rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-evenly;
    
}

#navigate{
    display:flex;
}
#navigate ul{
display: flex;
padding-right: unset;
}
#navigate ul li{
    display: flex;
    padding: 20px;
}
#navigate ul li a{
    color:white
}
#navigate ul li a:hover{
    color:red;
}
.footer{
    background: #222224;
    color: #D3D3D3;
    height: 400px;
    position: relative;
}
.footer .footer-content{
height: 325px;
display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding:25px;
    border: 1px rgb(24, 23, 23);
}
.footer .footer-content h1,
.footer .footer-content h2{
    color:whit;
}
.footer .footer-content .about h1 span{
    color:rgb(34, 153, 34);
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .socials a{
    border: 1px solid grey;
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}
.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color:white;
    transition: all .3s;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}
.footer .footer-content .links ul a:hover{
    color:white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
    background: hsl(0, 0%, 15%);
    color:hsl(0, 1%, 74%);
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding:.9em 1.4rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
    background: rgb(12, 12, 12);
}
.btn{
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn:hover{
    color: white!important;
    background: rgb(15, 71, 15);
}
.footer .footer-bottom{
background:#19191a;
color: #928D8D;
height:50px;
width:100%;
text-align:center;
position: absolute;
bottom: 0px;
left:0px;
padding-top: 20px;
}

